//- Inline script requests
	Initialized in "adamska.js"

//- LightGallery
	https://github.com/sachinchoolur/lightgallery.js/
script(
	src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.min.js"
)
//- LightGallery modules
	https://github.com/sachinchoolur/lightgallery.js/#built-in-modules
script(
	src="https://cdn.rawgit.com/sachinchoolur/lg-pager.js/master/dist/lg-pager.min.js"
)
script(
	src="https://cdn.rawgit.com/sachinchoolur/lg-autoplay.js/master/dist/lg-autoplay.min.js"
)
script(
	src="https://cdn.rawgit.com/sachinchoolur/lg-hash.js/master/dist/lg-hash.min.js"
)
script(
	src="https://cdn.rawgit.com/sachinchoolur/lg-share.js/master/dist/lg-share.min.js"
)