extends partial/_tmp-main.pug

//- Work

block config
	-
		var main = {
			title:   "Work – Grazyna Adamska Jarecka",
			desc:    "Collection of selected work by visual artist and painter Grazyna Adamska Jarecka",
			id:      work.id,
			link:    work.link,
			header:  "Selected Work",
			hero1:   "background_intro_main-work.png",
			hero2:   "background_outro_figurative.png",
			border1: "background_border_intro_02.png"
		}

block navSubmenu
	+navWork

block introVideo
	div.ap-c-scn__video
		video(
			width="960" height="540" loop muted playsinline autoplay
			controlsList="nodownload nofullscreen noremoteplayback" 
			poster="https://res.cloudinary.com/adamska/image/upload/c_scale,f_auto,q_auto:best,w_1280/v1/ui/hero-video-poster.png"
		)
			source(
				src="https://res.cloudinary.com/adamska/video/upload/v1561663530/ui/grazyna-adamska-jarecka_hero-work-720.mp4"
				type="video/mp4"
			)
			source(
				src="https://res.cloudinary.com/adamska/video/upload/v1561663643/ui/grazyna-adamska-jarecka_hero-home-720-webm.webm"
				type="video/webm"
			)

block mainContent
	//- Featured Series
	include partial/_scn-featured.pug

	//- Figurative Series
	section.ap-c-scn.ap-c-scn--collection#figurative
		+headerTitle("Figurative Series")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesCard(figurativeSelectedVol3)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeSelectedVol2)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeCoping)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeBody)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeDisengagement)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeExamination)
				li.ap-c-mdl-collection__item
					+seriesCard(figurativeSelectedVol1)

	//- Abstract Series
	section.ap-c-scn.ap-c-scn--collection#abstract
		+headerTitle("Abstract Series")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesCard(abstractAttachments)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractFigural)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractLandscapes)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractFlames)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractShapes)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractSelectedVol1)
				li.ap-c-mdl-collection__item
					+seriesCard(abstractGrace)

	//- Portraits Series
	section.ap-c-scn.ap-c-scn--collection#portrait
		+headerTitle("Portraits")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesCard(portraitSelectedVol3)
				li.ap-c-mdl-collection__item
					+seriesCard(portraitSkype)
				li.ap-c-mdl-collection__item
					+seriesCard(portraitSelectedVol2)
				li.ap-c-mdl-collection__item
					+seriesCard(portraitConte)
				li.ap-c-mdl-collection__item
					+seriesCard(portraitSelectedVol1)
				li.ap-c-mdl-collection__item
					+seriesCard(portraitHonorary)
				//- li.ap-c-mdl-collection__item
				//- 	+seriesCard(portraitGuelph)
				//- li.ap-c-mdl-collection__item
				//- 	+seriesCard(portraitDogs)
				//- li.ap-c-mdl-collection__item
				//- 	+seriesCard(portraitCats)

	//- Assorted Series
	section.ap-c-scn.ap-c-scn--collection#assorted
		+headerTitle("Assorted Works")
		div.ap-c-mdl-collection
			ul.ap-c-mdl-collection__list
				//- li.ap-c-mdl-collection__item.ap-l-crd--spotlight
				//- 	+seriesCard(assortedStill)
				li.ap-c-mdl-collection__item.ap-l-crd--spotlight
					+seriesCard(assortedLandscapesVol2)
				li.ap-c-mdl-collection__item
					+seriesCard(assortedAnimals)
				li.ap-c-mdl-collection__item
					+seriesCard(assortedLandscapesVol1)
				//- li.ap-c-mdl-collection__item
				//- 	+seriesCard(assortedMisc)

	//- Browse by topic/category slider