//- Series cards

//- Series card mixin
	"seriesData" properties correspond with series variables in "_config.pug"
	Properties include:
	Title of series,
	Link to series page,
	Series date range,
	Number of piece in series,
	Name of corresponding collection,
	Link to corresponding collection,
	Source image used for thumbnail and slides,
	Alt text for cover thumbnail image
mixin seriesCard(seriesData)
	article.ap-c-crd-series
		a.ap-c-crd-series__thumb(
			href= seriesData.link
			style= `background-image:url(${urlRootImage}c_crop,g_north,h_512,w_960,x_0,y_0,f_auto,q_auto:good/c_scale,w_64,e_blur:512/v1/ui/${seriesData.cover});`
		)
			div.ap-c-crd-series__slide.ap-c-crd-series__slide--3(
				style= `background-image:url(${urlRootImage}f_auto,q_auto:good/v1/ui/${seriesData.cover});`
			)
			div.ap-c-crd-series__slide.ap-c-crd-series__slide--2(
				style= `"background-image:url(${urlRootImage}f_auto,q_auto:good/v1/ui/${seriesData.cover});`
			)
			div.ap-c-crd-series__slide.ap-c-crd-series__slide--1(
				style= `background-image:url(${urlRootImage}f_auto,q_auto:good/v1/ui/${seriesData.cover});`
			)
			img.ap-c-crd-series__cover(
				src= `${urlRootImage}c_crop,g_north,h_512,w_960,x_0,y_0,f_auto,q_auto:best/v1/ui/${seriesData.cover}`
				alt= seriesData.info
			)
			div.ap-c-crd-series__overlay.ap-c-crd-series__overlay--02(
				style= `background-image:url(${urlRootImage}f_auto,q_auto:good/v1/ui/${seriesData.cover});`
			)
			div.ap-c-crd-series__overlay.ap-c-crd-series__overlay--01(
				style= `background-image:url(${urlRootImage}f_auto,q_auto:good/v1/ui/${seriesData.cover});`
			)
		a.ap-c-crd-series__info(
			href= seriesData.link
			style= `background-image:url(${urlRootImage}c_crop,g_north,h_512,w_960,x_0,y_0,f_auto,q_auto:good/c_scale,w_64,e_blur:512/v1/ui/${seriesData.cover});`
		)
			h3.ap-c-crd-series__title= seriesData.name
			span.ap-c-crd-series__details
				span.ap-c-crd-series__item
					+icon(iconDate)
					| &nbsp;
					span= seriesData.date
					| &emsp;
				span.ap-c-crd-series__item
					+icon(iconGallery)
					| &nbsp;
					span= seriesData.count
						| &nbsp;Works