//- Gallery cards

//- Artwork piece card mixin – classes referenced by lightGallery.js
	Declare:
	Piece name,
	Image source address (used for both full-size and thumbnail),
	Thumbnails image alt text,
	Piece year created,
	Piece medium,
	Piece material,
	Piece width in inches,
	Piece height inches,
	Image aspect ratio class,
	Title of series piece belongs to,
	Series link address,
	List of tags relavent to piece
mixin artworkCard(pieceName, imageSource, imageAlt, pieceYear, pieceMedium, pieceMaterial, pieceWidth, pieceHeight, aspectRatio, seriesData, ...tagList)
	//- Lightbox image and caption
	figure.ap-c-crd-artwork(
		data-src= urlRootImage + "f_auto,q_auto:best/v1/work/grazyna-adamska-jarecka_" + imageSource + ".png"
		data-sub-html=".ap-c-crd-artwork__info"
	)
		//- Thumbnail container
		div.ap-c-crd-artwork__thumb(
			class="ap-l-ratio--" + aspectRatio
			style="background-image: url(" + urlRootImage + "c_scale,e_blur:512,f_auto,q_auto:good,w_64/v1/work/grazyna-adamska-jarecka_" + imageSource + "-thumb.png);"
		)
			//- Thumbnail image
			img.ap-c-crd-artwork__image(
				src= urlRootImage + "f_auto,q_auto:best/v1/work/grazyna-adamska-jarecka_" + imageSource + "-thumb.png"
				alt= imageAlt + " by Grazyna Adamska Jarecka"
			)
			div.ap-c-crd-artwork__icon
				+icon(iconExpand)
		//- Info and details
		figcaption.ap-c-crd-artwork__info(
			style="background-image: url(" + urlRootImage + "c_scale,e_blur:512,f_auto,q_auto:good,w_64/v1/work/grazyna-adamska-jarecka_" + imageSource + "-thumb.png);"
		)
			//- Title and series
			div.ap-c-crd-artwork__title
				h4.ap-c-crd-artwork__piece= pieceName
				span.ap-c-crd-artwork__series
					| &ensp;&mdash;&ensp;in&nbsp;
					a(href= seriesData.link)= seriesData.name
			//- Mediums and materials
			div.ap-c-crd-artwork__spec
				span= pieceYear.name
					| &nbsp;&mdash;&nbsp;
				span= pieceMedium.name
					| &nbsp;on&nbsp;
				span= pieceMaterial.name
					| &comma;&nbsp;
				span= pieceWidth
					| &nbsp;&times;&nbsp;
				span= pieceHeight
					| &nbsp;in

//- Info and details
		figcaption.ap-c-crd-artwork__info(
			style="background-image: url(" + urlRootImage + "c_scale,e_blur:512,f_auto,q_auto:good,w_64/v1/work/grazyna-adamska-jarecka_" + imageSource + "-thumb.png);"
		)

//- mixin artworkCard(pieceName, imageSource, imageAlt, yearData, mediumData, materialData, pieceWidth, pieceHeight, aspectRatio, seriesData, color1Data, color2Data, color3Data, ...tagList)

//- Future update – data values
	//- Mediums and materials
	div.ap-c-crd-artwork__spec
		a(
			href= yearData.link
			title= yearData.info
		)= yearData.name
			| &nbsp;&mdash;&nbsp;
		a(
			href= mediumData.link
			title= mediumData.info
		)= mediumData.name
			| &nbsp;on&nbsp;
		a(
			href= materialData.link
			title= materialData.info
		)= materialData.name
			| &comma;&nbsp;
		span= pieceWidth
			| &nbsp;&times;&nbsp;
		span= pieceHeight
			| &nbsp;in
	//- Dominant colors – place above tag list
	ul.ap-c-crd-artwork__palette
		li
			a(
				href= color1Data.link
				class= `.ap-c-crd-artwork__palette--${color1Data.id}`
			)= color1Data.name
		li
			a(
				href= color2Data.link
				class= `.ap-c-crd-artwork__palette--${color2Data.id}`
			)= color2Data.name
		li
			a(
				href= color3Data.link
				class= `.ap-c-crd-artwork__palette--${color3Data.id}`
			)= color3Data.name
	//- Tag list
	ul.ap-c-crd-artwork__tags
		each tagData in tagList
			li
				a(href= tagData.link)= tagData.name


//- Separate Press/documentation item mixin –  "documentCard"
	Does not include piece-specific info

//- tag2000 is probably a placeholder, not the actual year

//- tagNull object could help for 

//- Artwork gallery card components


//- Abstract series gallery items

//- Grace / No Grace
//- Note: Reformat all of these mixins like so:
mixin abstractGraceS01
	+artworkCard(
		"Grace / No Grace",
		"abstract_grace_s01",
		"Abstract painting",
		tag2011, tagAcrylic, tagPlastic,
		"22", "22.1",
		"50-49",
		abstractGrace,
		tagBlack, tagGrey, tagWhite,
		tagAbstract, tagPattern
	)
mixin abstractGraceS02
	+artworkCard(
		"Border Land",
		"abstract_grace_s02",
		"Abstract painting",
		tag2011, tagAcrylic, tagPlastic,
		"28", "23",
		"11-9",
		abstractGrace,
		tagGrey, tagWhite, tagWhite,
		tagAbstract
	)
mixin abstractGraceS03
	+artworkCard(
		"Grace to No Grace Ratio",
		"abstract_grace_s03",
		"Abstract painting",
		tag2011, tagAcrylic, tagPlastic,
		"28", "23",
		"11-9 v--inverse",
		abstractGrace,
		tagWhite, tagGreen, tagBlue,
		tagAbstract
	)
mixin abstractGraceS04
	+artworkCard(
		"Grace in Droplets",
		"abstract_grace_s04",
		"Abstract painting",
		tag2011, tagAcrylic, tagPlastic,
		"23", "28",
		"9-11",
		abstractGrace,
		tagGrey, tagGreen, tagBlue,
		tagAbstract
	)

//- Selected Abstract Works Volume 1
mixin abstractSelectedVol1S01
	+artworkCard(
		"Untitled",
		"abstract_selected01_s01",
		"Abstract acrylic painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract,
		"tagname1",
		"tagname2",
		"tagname3"
	)
mixin abstractSelectedVol1S02
	+artworkCard(
		"Untitled",
		"abstract_selected01_s02",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"14-11",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S03
	+artworkCard(
		"Untitled",
		"abstract_selected01_s03",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"4-3",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S04
	+artworkCard(
		"Untitled",
		"abstract_selected01_s04",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S05
	+artworkCard(
		"Untitled",
		"abstract_selected01_s05",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"4-3",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S06
	+artworkCard(
		"Untitled",
		"abstract_selected01_s06",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"4-3",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S07
	+artworkCard(
		"Untitled",
		"abstract_selected01_s07",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"7-6",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S08
	+artworkCard(
		"Untitled",
		"abstract_selected01_s08",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S09
	+artworkCard(
		"Untitled",
		"abstract_selected01_s09",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S10
	+artworkCard(
		"Untitled",
		"abstract_selected01_s10",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S11
	+artworkCard(
		"Untitled",
		"abstract_selected01_s11",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S12
	+artworkCard(
		"Untitled",
		"abstract_selected01_s12",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"1-1",
		abstractSelectedVol1,
		tagAbstract
	)
mixin abstractSelectedVol1S13
	+artworkCard(
		"Untitled",
		"abstract_selected01_s13",
		"Abstract painting",
		"0000", tagAcrylic, tagCanvas,
		"00", "00",
		"3-4",
		abstractSelectedVol1,
		tagAbstract
	)
	
//- Abstracted Landscapes
mixin abstractLandscapesS01
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s01",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"8-7",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS02
	+artworkCard(
		"Orange le Vert",
		"abstract_landscapes_s02",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"48",
		"30",
		"16-10",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS03
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s03",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS04
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s04",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS05
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s05",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS06
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s06",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"6-5",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS07
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s07",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS08
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s08",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS09
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s09",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS10
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s10",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS11
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s11",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS12
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s12",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS13
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s13",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS14
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s14",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS15
	+artworkCard(
		"Test",
		"abstract_landscapes_s15",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractLandscapes,
		tagAbstract,
		tagLandscape
	)
mixin abstractLandscapesS16
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s16",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-4",
		abstractLandscapes,
		tagGreen,
		tagAbstract,
		tagLandscape
	)
mixin abstractLandscapesS17
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s17",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-4",
		abstractLandscapes,
		tagBlue,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS18
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s18",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		abstractLandscapes,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS19
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s19",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		abstractLandscapes,
		tagBlue,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS20
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s20",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"14-11",
		abstractLandscapes,
		tagBlue,
		tagAbstract,
		tagLandscape,
		""
	)
mixin abstractLandscapesS21
	+artworkCard(
		"Untitled",
		"abstract_landscapes_s21",
		"Abstracted landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		abstractLandscapes,
		tagBrown,
		tagAbstract,
		tagLandscape,
		""
	)


//- Figural Abstract Works
mixin abstractFiguralS01
	+artworkCard(
		"Deadline Anxiety",
		"abstract_figural_s01",
		"Abstract figure painting",
		tag2018,
		tagAcrylic,
		tagCanvas,
		"46",
		"36",
		"23-18",
		abstractFigural,
		"yellow",
		tagAbstract,
		tagFigurative,
		""
	)
mixin abstractFiguralS02
	+artworkCard(
		"Dominative Moments",
		"abstract_figural_s02",
		"Abstract figure painting",
		tag2018,
		tagAcrylic,
		tagCanvas,
		"48",
		"40",
		"6-5",
		abstractFigural,
		tagGreen,
		tagAbstract,
		tagFigurative,
		""
	)
mixin abstractFiguralS03
	+artworkCard(
		"Open Closed Value",
		"abstract_figural_s03",
		"Abstract figure painting",
		"2014",
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFigural,
		tagBlue,
		tagAbstract,
		tagFigurative,
		""
)
mixin abstractFiguralS04
	+artworkCard(
		"Dynamic Identities",
		"abstract_figural_s04",
		"Abstract figure painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFigural,
		tagPurple,
		tagAbstract,
		tagFigurative,
		""
	)
mixin abstractFiguralS05
	+artworkCard(
		"Untitled",
		"abstract_figural_s05",
		"Abstract figure painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFigural,
		tagPurple,
		tagAbstract,
		tagFigurative,
		""
	)
mixin abstractFiguralS06
	+artworkCard(
		"Untitled",
		"abstract_figural_s06",
		"Abstract figure painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-4",
		abstractFigural,
		tagBrown,
		tagAbstract,
		tagFigurative,
		""
	)
mixin abstractFiguralS07
	+artworkCard(
		"Untitled",
		"abstract_figural_s07",
		"Abstract figure painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFigural,
		"yellow",
		tagAbstract,
		tagFigurative,
		""
	)

//- Flames, Coral Reefs
mixin abstractFlamesS01
	+artworkCard(
		"Untitled",
		"abstract_flames_s01",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS02
	+artworkCard(
		"Untitled",
		"abstract_flames_s02",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS03
	+artworkCard(
		"Untitled",
		"abstract_flames_s03",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS04
	+artworkCard(
		"Untitled",
		"abstract_flames_s04",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS05
	+artworkCard(
		"Untitled",
		"abstract_flames_s05",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS06
	+artworkCard(
		"Untitled",
		"abstract_flames_s06",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS07
	+artworkCard(
		"Untitled",
		"abstract_flames_s07",
		"Abstract painting of flames",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS08
	+artworkCard(
		"Untitled",
		"abstract_flames_s08",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"23-20",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS09
	+artworkCard(
		"Untitled",
		"abstract_flames_s09",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS10
	+artworkCard(
		"Untitled",
		"abstract_flames_s10",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS11
	+artworkCard(
		"Untitled",
		"abstract_flames_s11",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"14-11",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS12
	+artworkCard(
		"Untitled",
		"abstract_flames_s12",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS13
	+artworkCard(
		"Untitled",
		"abstract_flames_s13",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractFlames,
		tagAbstract,
		"",
		""
	)
mixin abstractFlamesS14
	+artworkCard(
		"Untitled",
		"abstract_flames_s14",
		"Abstract painting of corals",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractFlames,
		tagAbstract,
		"",
		""
	)

//- Shapes & Textures
mixin abstractShapesS01
	+artworkCard(
		"Untitled",
		"abstract_shapes_s01",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractShapes,
		"yellow",
		tagAbstract,
		""		
	)
mixin abstractShapesS02
	+artworkCard(
		"Untitled",
		"abstract_shapes_s02",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractShapes,
		"pink",
		tagAbstract,
		""		
	)
mixin abstractShapesS03
	+artworkCard(
		"Untitled",
		"abstract_shapes_s03",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractShapes,
		tagBlue,
		tagAbstract,
		""		
	)
mixin abstractShapesS04
	+artworkCard(
		"Untitled",
		"abstract_shapes_s04",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractShapes,
		"yellow",
		tagAbstract,
		""		
	)
mixin abstractShapesS05
	+artworkCard(
		"Untitled",
		"abstract_shapes_s05",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		abstractShapes,
		"yellow",
		tagAbstract,
		""		
	)
mixin abstractShapesS06
	+artworkCard(
		"Untitled",
		"abstract_shapes_s06",
		"Abstract painting of shapes and textures",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"7-6",
		abstractShapes,
		tagBlue,
		tagAbstract,
		""		
	)

//- Attachments
mixin abstractAttachmentsS01
	+artworkCard(
		"Pocket-Sized Voids",
		"abstract_attachments_s01",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"30",
		"4-5",
		abstractAttachments,
		"black",
		tagAbstract,
		""
	)
mixin abstractAttachmentsS02
	+artworkCard(
		"Tangled Promises",
		"abstract_attachments_s02",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"30",
		"11-14",
		abstractAttachments,
		tagBlue,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS03
	+artworkCard(
		"Untitled Journey",
		"abstract_attachments_s03",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"30",
		"4-5",
		abstractAttachments,
		"yellow",
		tagAbstract,
		""
	)
mixin abstractAttachmentsS04
	+artworkCard(
		"Attachment Delivered",
		"abstract_attachments_s04",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"22",
		"28",
		"11-14",
		abstractAttachments,
		tagBrown,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS05
	+artworkCard(
		"Attachment",
		"abstract_attachments_s05",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"32",
		"3-4",
		abstractAttachments,
		tagBrown,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS06
	+artworkCard(
		"Miniature Rebellions",
		"abstract_attachments_s06",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"18",
		"24",
		"3-4",
		abstractAttachments,
		"pink",
		tagAbstract,
		""
	)
mixin abstractAttachmentsS07
	+artworkCard(
		"Third Chances",
		"abstract_attachments_s07",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"32",
		"3-4",
		abstractAttachments,
		tagBlue,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS08
	+artworkCard(
		"Clip Composition",
		"abstract_attachments_s08",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"32",
		"3-4",
		abstractAttachments,
		tagGrey,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS09
	+artworkCard(
		"Formative Years",
		"abstract_attachments_s09",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"16",
		"20",
		"3-4",
		abstractAttachments,
		tagPurple,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS10
	+artworkCard(
		"Above & Beneath I",
		"abstract_attachments_s10",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"24",
		"1-1",
		abstractAttachments,
		tagGrey,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS11
	+artworkCard(
		"Above & Beneath II",
		"abstract_attachments_s11",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"32",
		"32",
		"1-1",
		abstractAttachments,
		tagGrey,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS12
	+artworkCard(
		"Untitled",
		"abstract_attachments_s12",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"16",
		"22",
		"8-11",
		abstractAttachments,
		"pink",
		tagAbstract,
		""
	)
mixin abstractAttachmentsS13
	+artworkCard(
		"Color Field",
		"abstract_attachments_s13",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"32",
		"32",
		"1-1",
		abstractAttachments,
		tagGrey,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS14
	+artworkCard(
		"Untitled",
		"abstract_attachments_s14",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		abstractAttachments,
		tagGrey,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS15
	+artworkCard(
		"Untitled",
		"abstract_attachments_s15",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagPlastic,
		"24",
		"32",
		"3-4",
		abstractAttachments,
		tagGreen,
		tagAbstract,
		""
	)
mixin abstractAttachmentsS16
	+artworkCard(
		"Neon Routes",
		"abstract_attachments_s16",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"48",
		"36",
		"4-3",
		abstractAttachments,
		"black",
		tagAbstract,
		""
	)
//- S17 - not ready
mixin abstractAttachmentsS17
	+artworkCard(
		"No Easy Route",
		"abstract_attachments_s17",
		"Abstract painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"24",
		"32",
		"3-4",
		abstractAttachments,
		"yellow",
		tagAbstract,
		""
	)

//- Body Drawings
//- S06c not ready
mixin figurativeBodyG01
	+artworkCard(
		"Untitled",
		"figurative_body_g01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-3",
		figurativeBody,
		tagFigurative,
		tagWoman,
		tagNude
	)
mixin figurativeBodyS01
	+artworkCard(
		"Untitled",
		"figurative_body_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-6",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS02
	+artworkCard(
		"Untitled",
		"figurative_body_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"6-5",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS03
	+artworkCard(
		"Untitled",
		"figurative_body_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-6",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS04
	+artworkCard(
		"Untitled",
		"figurative_body_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"3-2",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS04b
	+artworkCard(
		"Untitled",
		"figurative_body_s04b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-4",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS04c
	+artworkCard(
		"(Detail)",
		"figurative_body_s04c",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"3-2",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS04d
	+artworkCard(
		"(Detail)",
		"figurative_body_s04d",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-4",
		figurativeBody,
		tagFigurative,
		tagTriptych
	)
mixin figurativeBodyS05
	+artworkCard(
		"Untitled",
		"figurative_body_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"4-3",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS05b
	+artworkCard(
		"Untitled",
		"figurative_body_s05b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"7-5",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS06
	+artworkCard(
		"Untitled",
		"figurative_body_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-8",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS06b
	+artworkCard(
		"Untitled",
		"figurative_body_s06b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"4-3",
		figurativeBody,
		tagFigurative,
		""
	)
//- S06c is currently unpublished
mixin figurativeBodyS06c
	+artworkCard(
		"(Details)",
		"figurative_body_s06c",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"1-1",
		figurativeBody,
		tagFigurative,
		""
	)
mixin figurativeBodyS07
	+artworkCard(
		"Untitled",
		"figurative_body_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"4-3",
		figurativeBody,
		tagFigurative,
		""
	)

//- Self Examination
mixin figurativeExaminationS01
	+artworkCard(
		"Untitled",
		"figurative_examination_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS02
	+artworkCard(
		"Untitled",
		"figurative_examination_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS02b
	+artworkCard(
		"Untitled",
		"figurative_examination_s02b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"16-9",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS03
	+artworkCard(
		"Untitled",
		"figurative_examination_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"8-11",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS04
	+artworkCard(
		"Untitled",
		"figurative_examination_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"1-1",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS05
	+artworkCard(
		"Untitled",
		"figurative_examination_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"8-17",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS06
	+artworkCard(
		"Untitled",
		"figurative_examination_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"2-1",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationG01
	+artworkCard(
		"Exhibition Documentation",
		"figurative_examination_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"3-2",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS07
	+artworkCard(
		"Untitled",
		"figurative_examination_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"10-19",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS08
	+artworkCard(
		"Untitled",
		"figurative_examination_s08",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"2-3",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS09
	+artworkCard(
		"Untitled",
		"figurative_examination_s09",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"16-10",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS10
	+artworkCard(
		"Untitled",
		"figurative_examination_s10",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"3-5",
		figurativeExamination,
		tagFigurative,
		tagNude
	)
mixin figurativeExaminationS11
	+artworkCard(
		"Untitled",
		"figurative_examination_s11",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"8-9",
		figurativeExamination,
		tagFigurative,
		tagNude
	)

//- Image of Disengagement
mixin figurativeDisengagementS01
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"49-50",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS02
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"6-7",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS03
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"6-7",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS04
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS05
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-10",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS06
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-5",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS07
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-4",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS08
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s08",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"1-1",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS09
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s09",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-4",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS10
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s10",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"1-1",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS11
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s11",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-4",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS12
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s12",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"4-3",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)
mixin figurativeDisengagementS13
	+artworkCard(
		"Untitled",
		"figurative_disengagement_s13",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-4",
		figurativeDisengagement,
		tagFigurative,
		tagNude
	)

//- Coping Behaviors
mixin figurativeCopingG01
	+artworkCard(
		"Untitled",
		"figurative_coping_g01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-6",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG01b
	+artworkCard(
		"Untitled",
		"figurative_coping_g01b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG01c
	+artworkCard(
		"Untitled",
		"figurative_coping_g01c",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG01d
	+artworkCard(
		"Untitled",
		"figurative_coping_g01d",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-1",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG02
	+artworkCard(
		"Untitled",
		"figurative_coping_g02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"7-8",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG02b
	+artworkCard(
		"Untitled",
		"figurative_coping_g02b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG03
	+artworkCard(
		"Untitled",
		"figurative_coping_g03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingG03b
	+artworkCard(
		"Untitled",
		"figurative_coping_g03b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS01
	+artworkCard(
		"Fourfold Rocking",
		"figurative_coping_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"9-5",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS02
	+artworkCard(
		"Untitled",
		"figurative_coping_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"9-5",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS03
	+artworkCard(
		"Untitled",
		"figurative_coping_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"9-5",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS04
	+artworkCard(
		"Untitled",
		"figurative_coping_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"9-5",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS05
	+artworkCard(
		"Untitled",
		"figurative_coping_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS05b
	+artworkCard(
		"Untitled",
		"figurative_coping_s05b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS06
	+artworkCard(
		"Untitled",
		"figurative_coping_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS06b
	+artworkCard(
		"Untitled",
		"figurative_coping_s06b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS07
	+artworkCard(
		"Untitled",
		"figurative_coping_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-4",
		figurativeCoping,
		"pink",
		tagFigurative
	)
mixin figurativeCopingS08
	+artworkCard(
		"Untitled",
		"figurative_coping_s08",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS10
	+artworkCard(
		"Untitled",
		"figurative_coping_s10",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-9",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS11
	+artworkCard(
		"Untitled",
		"figurative_coping_s11",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-9",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS12
	+artworkCard(
		"Untitled",
		"figurative_coping_s12",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-9",
		figurativeCoping,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingS13
	+artworkCard(
		"Untitled",
		"figurative_coping_s13",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeCoping,
		tagGreen,
		tagFigurative,
		tagNude
	)
mixin figurativeCopingP01
	+artworkCard(
		"Fourfold Rocking – Exhibition Document",
		"figurative_coping_p01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"7-10",
		figurativeCoping,
		tagFigurative,
		tagNude
	)

//- Selected Figurative Works Vol. 2
mixin figurativeSelectedVol2G01
	+artworkCard(
		"Untitled",
		"figurative_selected02_g01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"4-5",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2G01b
	+artworkCard(
		"Untitled",
		"figurative_selected02_g01b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"7-5",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S01
	+artworkCard(
		"Untitled",
		"figurative_selected02_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-8",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S02
	+artworkCard(
		"Untitled",
		"figurative_selected02_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-8",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S03
	+artworkCard(
		"Untitled",
		"figurative_selected02_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-8",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S04
	+artworkCard(
		"Untitled",
		"figurative_selected02_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-8",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S05
	+artworkCard(
		"Untitled",
		"figurative_selected02_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-8",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S06
	+artworkCard(
		"Untitled",
		"figurative_selected02_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"14-11",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S06b
	+artworkCard(
		"(Detail)",
		"figurative_selected02_s06b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"8-5",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol2S07
	+artworkCard(
		"Untitled",
		"figurative_selected02_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		figurativeSelectedVol2,
		tagFigurative,
		""
	)

//- Selected Figurative Works Vol. 3
mixin figurativeSelectedVol3S01
	+artworkCard(
		"Kaleidoscope Selfie",
		"figurative_selected03_s01",
		"Figurative painting",
		tag2019,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"11-13",
		figurativeSelectedVol3,
		"orange",
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S02
	+artworkCard(
		"ASAP",
		"figurative_selected03_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"11-13",
		figurativeSelectedVol3,
		tagGrey,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S03
	+artworkCard(
		"Untitled",
		"figurative_selected03_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"7-8",
		figurativeSelectedVol3,
		tagPurple,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S03b
	+artworkCard(
		"Untitled",
		"figurative_selected03_s03b",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol3,
		tagPurple,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S04
	+artworkCard(
		"Untitled",
		"figurative_selected03_s04",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"7-8",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S05
	+artworkCard(
		"Untitled",
		"figurative_selected03_s05",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S06
	+artworkCard(
		"Untitled",
		"figurative_selected03_s06",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S07
	+artworkCard(
		"Untitled",
		"figurative_selected03_s07",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S08
	+artworkCard(
		"Untitled",
		"figurative_selected03_s08",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S09
	+artworkCard(
		"Untitled",
		"figurative_selected03_s09",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"7-10",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol3S10
	+artworkCard(
		"Untitled",
		"figurative_selected03_s10",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-1",
		figurativeSelectedVol3,
		tagFigurative,
		""
	)

//- Selected Figurative Works Vol. 1
mixin figurativeSelectedVol1S01
	+artworkCard(
		"Untitled",
		"figurative_selected01_s01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S02
	+artworkCard(
		"Untitled",
		"figurative_selected01_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S03
	+artworkCard(
		"Untitled",
		"figurative_selected01_s03",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
//- 4 – 7 not ready
//- mixin figurativeSelectedVol1S04
//- mixin figurativeSelectedVol1S05
//- mixin figurativeSelectedVol1S06
//- mixin figurativeSelectedVol1S07
mixin figurativeSelectedVol1S08
	+artworkCard(
		"Untitled",
		"figurative_selected01_s08",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S09
	+artworkCard(
		"Untitled",
		"figurative_selected01_s09",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S10
	+artworkCard(
		"Untitled",
		"figurative_selected01_s10",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S11
	+artworkCard(
		"Untitled",
		"figurative_selected01_s11",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S12
	+artworkCard(
		"Untitled",
		"figurative_selected01_s12",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1S13
	+artworkCard(
		"Untitled",
		"figurative_selected01_s13",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)
mixin figurativeSelectedVol1G01
	+artworkCard(
		"Untitled",
		"figurative_selected01_g01",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		figurativeSelectedVol1,
		tagFigurative,
		""
	)

//- Conté Portraits
//- Handling medium tag requests for these?
//- Need exceptions
mixin portraitConteS01
	+artworkCard(
		"Untitled",
		"portrait_family_s01",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"3-2",
		portraitConte,
		"orange",
		tagPortrait,
		tagMan
	)
mixin portraitConteS02
	+artworkCard(
		"Untitled",
		"portrait_family_s02",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"3-2",
		portraitConte,
		"orange",
		tagPortrait,
		tagMan
	)
mixin portraitConteS03
	+artworkCard(
		"Untitled",
		"portrait_family_s03",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitConte,
		tagWhite,
		tagPortrait,
		tagMan
	)
mixin portraitConteS04
	+artworkCard(
		"Untitled",
		"portrait_family_s04",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitConte,
		tagWhite,
		tagPortrait,
		tagMan
	)
mixin portraitConteS05
	+artworkCard(
		"Untitled",
		"portrait_family_s05",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitConte,
		tagWhite,
		tagPortrait,
		tagMan
	)
mixin portraitConteG01
	+artworkCard(
		"Untitled",
		"portrait_family_g01",
		"Portrait drawing",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"12-5",
		portraitConte,
		tagWhite,
		tagPortrait,
		tagTriptych,
		tagWoman
	)

//- Selected Portraits Vol. 2
mixin portraitSelectedVol2G01
	+artworkCard(
		"Untitled",
		"portrait_selected02_g01",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"3-2",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S01
	+artworkCard(
		"Untitled",
		"portrait_selected02_s01",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S02
	+artworkCard(
		"Untitled",
		"portrait_selected02_s02",
		"Figurative painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S03
	+artworkCard(
		"Untitled",
		"portrait_selected02_s03",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S04
	+artworkCard(
		"Untitled",
		"portrait_selected02_s04",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S05
	+artworkCard(
		"Untitled",
		"portrait_selected02_s05",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S06
	+artworkCard(
		"Untitled",
		"portrait_selected02_s06",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S08
	+artworkCard(
		"Untitled",
		"portrait_selected02_s08",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S09
	+artworkCard(
		"Untitled",
		"portrait_selected02_s09",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol2,
		tagBlue,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S10
	+artworkCard(
		"Untitled",
		"portrait_selected02_s10",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"5-6",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S11
	+artworkCard(
		"Untitled",
		"portrait_selected02_s11",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBlue,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S12
	+artworkCard(
		"Untitled",
		"portrait_selected02_s12",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBrown,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S13
	+artworkCard(
		"Self Portrait (Mirror)",
		"portrait_selected02_s13",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBrown,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S14
	+artworkCard(
		"Jeff",
		"portrait_selected02_s14",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S15
	+artworkCard(
		"Untitled",
		"portrait_selected02_s15",
		"Portrait painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S16
	+artworkCard(
		"Untitled",
		"portrait_selected02_s16",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBlue,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2G03
	+artworkCard(
		"Untitled",
		"portrait_selected02_g03",
		"Portrait painting",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"3-2",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		tagDiptych,
		tagMan
	)
mixin portraitSelectedVol2S17
	+artworkCard(
		"Untitled",
		"portrait_selected02_s17",
		"Portrait painting",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S18
	+artworkCard(
		"Untitled",
		"portrait_selected02_s18",
		"Portrait painting",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S19
	+artworkCard(
		"Untitled",
		"portrait_selected02_s19",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S20
	+artworkCard(
		"Untitled",
		"portrait_selected02_s20",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagGreen,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2G02
	+artworkCard(
		"Untitled",
		"portrait_selected02_g02",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"8-5",
		portraitSelectedVol2,
		tagPortrait,
		tagRealism,
		tagDiptych,
		tagMan,
		tagWoman,
		tagAdult
	)
mixin portraitSelectedVol2S21
	+artworkCard(
		"Untitled",
		"portrait_selected02_s21",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBrown,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S22
	+artworkCard(
		"Untitled",
		"portrait_selected02_s22",
		"Portrait painting",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagBrown,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S23
	+artworkCard(
		"Untitled",
		"portrait_selected02_s23",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-5",
		portraitSelectedVol2,
		tagWhite,
		tagPortrait,
		""
	)
mixin portraitSelectedVol2S24
	+artworkCard(
		"Untitled",
		"portrait_selected02_s24",
		"Portrait painting",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"5-6",
		portraitSelectedVol2,
		tagGrey,
		tagPortrait,
		""
	)

//- Skype Scéance
mixin portraitSkypeS01
	+artworkCard(
		"Untitled",
		"portrait_skype_s01",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"4-7",
		portraitSkype,
		tagPurple,
		tagPortrait,
		""
	)
mixin portraitSkypeS01b
	+artworkCard(
		"Untitled",
		"portrait_skype_s01b",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"10-9",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS01c
	+artworkCard(
		"Untitled",
		"portrait_skype_s01c",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"9-10",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS01d
	+artworkCard(
		"Untitled",
		"portrait_skype_s01d",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"5-7",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS01e
	+artworkCard(
		"Untitled",
		"portrait_skype_s01e",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"1-1",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS01f
	+artworkCard(
		"Untitled",
		"portrait_skype_s01f",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"1-1",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS02
	+artworkCard(
		"Untitled",
		"portrait_skype_s02",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS02b
	+artworkCard(
		"Untitled",
		"portrait_skype_s02b",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"7-6",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS03
	+artworkCard(
		"Untitled",
		"portrait_skype_s03",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"15-14",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS03b
	+artworkCard(
		"Untitled",
		"portrait_skype_s03b",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"6-7",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS03c
	+artworkCard(
		"Untitled",
		"portrait_skype_s03c",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"6-7",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS04
	+artworkCard(
		"Untitled",
		"portrait_skype_s04",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"1-1",
		portraitSkype,
		tagPortrait,
		""
	)
mixin portraitSkypeS05
	+artworkCard(
		"Untitled",
		"portrait_skype_s05",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"1-1",
		portraitSkype,
		"black",
		tagPortrait,
		""
	)
mixin portraitSkypeS05b
	+artworkCard(
		"Untitled",
		"portrait_skype_s05b",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"6-5",
		portraitSkype,
		"black",
		tagPortrait,
		""
	)
mixin portraitSkypeS06
	+artworkCard(
		"Untitled",
		"portrait_skype_s06",
		"Portrait painting of a Skype conversation",
		tag2000,
		tagConte,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSkype,
		tagPortrait,
		""
	)

//- Selected Portraits Volume 3
mixin portraitSelectedVol3G01
	+artworkCard(
		"Untitled",
		"portrait_selected03_g01",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"2-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S01
	+artworkCard(
		"Untitled",
		"portrait_selected03_s01",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S02
	+artworkCard(
		"Untitled",
		"portrait_selected03_s02",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S03
	+artworkCard(
		"Untitled",
		"portrait_selected03_s03",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S04
	+artworkCard(
		"Untitled",
		"portrait_selected03_s04",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S05
	+artworkCard(
		"Untitled",
		"portrait_selected03_s05",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S06
	+artworkCard(
		"Untitled",
		"portrait_selected03_s06",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S07
	+artworkCard(
		"Untitled",
		"portrait_selected03_s07",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		"wood",
		"00",
		"00",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S08
	+artworkCard(
		"Untitled",
		"portrait_selected03_s08",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S09
	+artworkCard(
		"Untitled",
		"portrait_selected03_s07",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S10
	+artworkCard(
		"Untitled",
		"portrait_selected03_s10",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S11
	+artworkCard(
		"Untitled",
		"portrait_selected03_s11",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"00",
		"00",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S12
	+artworkCard(
		"Untitled",
		"portrait_selected03_s12",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S13
	+artworkCard(
		"Untitled",
		"portrait_selected03_s13",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S14
	+artworkCard(
		"Untitled",
		"portrait_selected03_s14",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S15
	+artworkCard(
		"Untitled",
		"portrait_selected03_s15",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S16
	+artworkCard(
		"Untitled",
		"portrait_selected03_s16",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S17
	+artworkCard(
		"Untitled",
		"portrait_selected03_s17",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S18
	+artworkCard(
		"Untitled",
		"portrait_selected03_s18",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S19
	+artworkCard(
		"Untitled",
		"portrait_selected03_s19",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"32",
		"3-4",
		portraitSelectedVol3,
		tagPortrait,
		""
	)
mixin portraitSelectedVol3S20
	+artworkCard(
		"Untitled",
		"portrait_selected03_s20",
		"Portrait painting",
		tag2018,
		tagAcrylic,
		tagPaper,
		"24",
		"30",
		"4-5",
		portraitSelectedVol3,
		tagPortrait,
		""
	)

//- Unpublished
//- mixin portraitCatsS01
//- mixin portraitCatsS02
//- mixin portraitCatsS03
//- mixin portraitCatsS04
//- mixin portraitCatsS05
//- mixin portraitCatsS07
//- mixin portraitCatsS08
//- mixin portraitCatsS09
//- mixin portraitCatsS10
//- mixin portraitCatsS11
//- mixin portraitCatsS12
//- mixin portraitCatsS13
//- mixin portraitCatsS14
//- mixin portraitCatsS15

//- mixin portraitDogsS01
//- mixin portraitDogsS02
//- mixin portraitDogsS03
//- mixin portraitDogsS04
//- mixin portraitDogsS05
//- mixin portraitDogsS07
//- mixin portraitDogsS08
//- mixin portraitDogsS09
//- mixin portraitDogsS10
//- mixin portraitDogsS11
//- mixin portraitDogsS12
//- mixin portraitDogsS13
//- mixin portraitDogsS14
//- mixin portraitDogsS15
//- mixin portraitDogsS16
//- mixin portraitDogsS17
//- mixin portraitDogsS18
//- mixin portraitDogsS19
//- mixin portraitDogsS20

//- Honorary & Collegiate Portraits
mixin portraitHonoraryS01
	+artworkCard(
		"Name",
		"portrait_honorary_s01",
		"Portrait painting of a university professor",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"3-4",
		portraitHonorary,
		tagBlue,
		tagPortrait,
		tagFigurative,
		tagRealism,
		tagMan
	)
mixin portraitHonoraryS02
	+artworkCard(
		"Name",
		"portrait_honorary_s02",
		"Portrait painting of a university professor",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"3-4",
		portraitHonorary,
		tagBlue,
		tagPortrait,
		tagFigurative,
		tagRealism,
		tagMan
	)
mixin portraitHonoraryS03
	+artworkCard(
		"Name",
		"portrait_honorary_s03",
		"Portrait painting of a university professor",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"11-9",
		portraitHonorary,
		tagGrey,
		tagPortrait,
		tagFigurative,
		tagMan
	)
mixin portraitHonoraryS04
	+artworkCard(
		"Name",
		"portrait_honorary_s04",
		"Portrait painting of a university professor",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"3-4",
		portraitHonorary,
		tagBrown,
		tagPortrait,
		tagRealism,
		tagMan
	)
mixin portraitHonoraryS05
	+artworkCard(
		"Untitled",
		"portrait_honorary_s05",
		"Portrait painting of a university professor",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"2-3",
		portraitHonorary,
		tagBrown,
		tagPortrait,
		tagRealism,
		tagMan
	)

//- Selected Portraits Volume 1
mixin portraitSelectedVol1G01
	+artworkCard(
		"Untitled",
		"portrait_selected01_g01",
		"Portrait painting of three young boys",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"15-7",
		portraitSelectedVol1,
		"",
		tagTriptych,
		tagBoy,
		tagChild
	)
mixin portraitSelectedVol1S01
	+artworkCard(
		"Untitled",
		"portrait_selected01_s01",
		"Portrait painting of a young boy",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"5-7",
		portraitSelectedVol1,
		tagPortrait,
		tagRealism,
		tagBoy,
		tagChild
	)
mixin portraitSelectedVol1S02
	+artworkCard(
		"Untitled",
		"portrait_selected01_s02",
		"Portrait painting of a young boy",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"5-7",
		portraitSelectedVol1,
		tagPortrait,
		tagBoy,
		tagChild
	)
mixin portraitSelectedVol1S03
	+artworkCard(
		"Untitled",
		"portrait_selected01_s03",
		"Portrait painting of a young boy",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"5-7",
		portraitSelectedVol1,
		tagPortrait,
		tagBoy,
		tagChild
	)
mixin portraitSelectedVol1S04
	+artworkCard(
		"Valentynki",
		"portrait_selected01_s04",
		"Painting of a boy and girl",
		tag2000,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"9-7",
		portraitSelectedVol1,
		tagPortrait,
		tagChild,
		tagBoy,
		"girl"
	)
mixin portraitSelectedVol1S05
	+artworkCard(
		"Untitled",
		"portrait_selected01_s05",
		"Portrait painting of Michelle Obama",
		tag2000,
		"mixed-media",
		"wood",
		"00",
		"00",
		"1-1",
		portraitSelectedVol1,
		tagPortrait,
		"",
		""
	)
//- S06 – S13 not ready
//- mixin portraitSelectedVol1S06
//- mixin portraitSelectedVol1S07
//- mixin portraitSelectedVol1S08
//- mixin portraitSelectedVol1S09
//- mixin PortraitSelectedVol1S10
//- mixin portraitSelectedVol1S11
//- mixin portraitSelectedVol1S12
//- mixin portraitSelectedVol1S13
mixin portraitSelectedVol1S14
	+artworkCard(
		"Untitled",
		"portrait_selected01_s14",
		"Portrait painting of a young woman with blonde hair",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol1,
		tagPortrait,
		tagWoman,
		tagNude
	)
mixin portraitSelectedVol1S15
	+artworkCard(
		"Untitled",
		"portrait_selected01_s15",
		"Portrait painting of a man with dark hair",
		tag2000,
		"oil",
		tagCanvas,
		"00",
		"00",
		"4-5",
		portraitSelectedVol1,
		tagPortrait,
		"",
		""
	)
mixin portraitSelectedVol1S16
	+artworkCard(
		"So Says Barden",
		"portrait_selected01_s16",
		"Portrait painting of Javier Barden",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-6",
		portraitSelectedVol1,
		tagPortrait,
		tagMan,
		tagAdult
	)
mixin portraitSelectedVol1S17
	+artworkCard(
		"Orange Distraction",
		"portrait_selected01_s17",
		"Portrait painting of an adult man with blue eyes",
		tag2009,
		tagAcrylic,
		tagPlastic,
		"00",
		"00",
		"5-7",
		portraitSelectedVol1,
		tagPortrait,
		tagMan,
		tagAdult
	)

//- Next Update
//- mixin portraitGuelphS01
//- mixin portraitGuelphS01b
//- mixin portraitGuelphS01c
//- mixin portraitGuelphS01d
//- mixin portraitGuelphG01
//- mixin portraitGuelphS02
//- mixin portraitGuelphS02b
//- mixin portraitGuelphS02c
//- mixin portraitGuelphS02d
//- mixin portraitGuelphS02e
//- mixin portraitGuelphS02f
//- mixin portraitGuelphG02
//- mixin portraitGuelphG02b
//- mixin portraitGuelphS03
//- mixin portraitGuelphS03b
//- mixin portraitGuelphS03c
//- mixin portraitGuelphG03
//- mixin portraitGuelphS04
//- mixin portraitGuelphS04b
//- mixin portraitGuelphS04c
//- mixin portraitGuelphG04
//- mixin portraitGuelphS05
//- mixin portraitGuelphS05b
//- mixin portraitGuelphS05c
//- mixin portraitGuelphG05
//- mixin portraitGuelphS06
//- mixin portraitGuelphS06b
//- mixin portraitGuelphS06c
//- mixin portraitGuelphG06
//- mixin portraitGuelphS07
//- mixin portraitGuelphS07b
//- mixin portraitGuelphS07c
//- mixin portraitGuelphG07
//- mixin portraitGuelphS08
//- mixin portraitGuelphS08b
//- mixin portraitGuelphS09
//- mixin portraitGuelphS09b
//- mixin portraitGuelphS10
//- mixin portraitGuelphS10b
//- mixin portraitGuelphS11
//- mixin portraitGuelphS11b
//- mixin portraitGuelphS12
//- mixin portraitGuelphS12
//- mixin portraitGuelphS12b
//- mixin portraitGuelphS12c
//- mixin portraitGuelphS13
//- mixin portraitGuelphS13b
//- mixin portraitGuelphS14
//- mixin portraitGuelphS14b
//- mixin portraitGuelphS15
//- mixin portraitGuelphS15b
//- mixin portraitGuelphS16
//- mixin portraitGuelphS16b
//- mixin portraitGuelphS17
//- mixin portraitGuelphS18
//- mixin portraitGuelphS19
//- mixin portraitGuelphS20
//- mixin portraitGuelphS21
//- mixin portraitGuelphS22
//- mixin portraitGuelphS23
//- mixin portraitGuelphS24
//- mixin portraitGuelphS25
//- mixin portraitGuelphS26
//- mixin portraitGuelphS27
//- mixin portraitGuelphS27b
//- mixin portraitGuelphS27c
//- mixin portraitGuelphS27d
//- mixin portraitGuelphG11
//- mixin portraitGuelphG08
//- mixin portraitGuelphG09
//- mixin portraitGuelphG10
//- mixin portraitGuelphP01

//- Next update
//- mixin assortedStillS01
//- mixin assortedStillS02
//- mixin assortedStillS03
//- mixin assortedStillS04
//- mixin assortedStillS05
//- mixin assortedStillS06
//- mixin assortedStillS07
//- mixin assortedStillS08
//- mixin assortedStillS09
//- mixin assortedStillS10
//- mixin assortedStillS11
//- mixin assortedStillS12
//- mixin assortedStillS13
//- mixin assortedStillS14
//- mixin assortedStillS15
//- mixin assortedStillS16
//- mixin assortedStillS17

//- Assorted Landscapes Vol. 2
mixin assortedLandscapesVol2S01
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s01",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S02
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s02",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S03
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s03",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S04
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s04",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S05
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s05",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S06
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s06",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S07
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s07",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"14-11",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S08
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s08",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S09
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s09",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol2S10
	+artworkCard(
		"Untitled",
		"assorted_landscapes02_s10",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedLandscapesVol2,
		"",
		tagLandscape,
		""
	)

//- Assorted Animals
mixin assortedAnimalsS01
	+artworkCard(
		"Untitled",
		"assorted_animals_s01",
		"Painting of a dead wolf",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"6-5",
		assortedAnimals,
		"",
		tagAnimal,
		""
	)
mixin assortedAnimalsS02
	+artworkCard(
		"Untitled",
		"assorted_animals_s02",
		"Painting of a cat",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		assortedAnimals,
		"",
		tagAnimal,
		""
	)
mixin assortedAnimalsS03
	+artworkCard(
		"Untitled",
		"assorted_animals_s03",
		"Painting of a dog",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"6-5",
		assortedAnimals,
		"",
		tagAnimal,
		""
	)
mixin assortedAnimalsS04
	+artworkCard(
		"Untitled",
		"assorted_animals_s04",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-3",
		assortedAnimals,
		"",
		tagHorse,
		tagAnimal,
		""
	)
mixin assortedAnimalsS05
	+artworkCard(
		"Untitled",
		"assorted_animals_s05",
		"Portrait of a horse",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		assortedAnimals,
		"",
		tagHorse,
		tagAnimal,
		tagPortrait
	)
mixin assortedAnimalsS06
	+artworkCard(
		"Untitled",
		"assorted_animals_s06",
		"Portrait painting of a brown horse",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"1-1",
		assortedAnimals,
		"",
		tagHorse,
		tagAnimal,
		tagPortrait
	)
mixin assortedAnimalsS07
	+artworkCard(
		"Untitled",
		"assorted_animals_s07",
		"Painting of a brown dog sleeping",
		tag2000,
		tagWatercolour,
		tagPaper,
		"00",
		"00",
		"3-2",
		assortedAnimals,
		"",
		tagAnimal,
		""
	)
mixin assortedAnimalsS08
	+artworkCard(
		"Untitled",
		"assorted_animals_s08",
		"Portrait painting of a white horse",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-4",
		assortedAnimals,
		"",
		tagHorse,
		tagAnimal,
		tagPortrait
	)

//- Next update
//- mixin assortedMiscS01
//- mixin assortedMiscS02
//- mixin assortedMiscS03
//- mixin assortedMiscS04
//- mixin assortedMiscS05

//- Assorted Landscapes Volume 1
mixin assortedLandscapesVol1S01
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s01",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"3-2",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S02
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s02",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"2-3",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S03
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s03",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"11-14",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S04
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s04",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"11-14",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S05
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s05",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"23-16",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S06
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s06",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"8-11",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S07
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s07",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"4-5",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S08
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s08",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"5-4",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)
mixin assortedLandscapesVol1S09
	+artworkCard(
		"Untitled",
		"assorted_landscapes01_s09",
		"Landscape painting",
		tag2000,
		tagAcrylic,
		tagCanvas,
		"00",
		"00",
		"8-11",
		assortedLandscapesVol1,
		"",
		tagLandscape,
		""
	)