//- Instagram posts

//- Instagram slide mixin
	Declare:
	Instagram post address,
	Image source address,
	Image alt text
mixin instagramSlide(instaLink, imageSource, altText)
	li.ap-c-sld__item
		a.ap-c-sld__link.ap-c-sld__link--instagram(
			href="https://www.instagram.com/p/" + instaLink
			target="_blank"
			title="View on Instagram"
		)
			img(
				src="https://scontent-sjc3-1.cdninstagram.com/vp/" + imageSource + "?_nc_ht=scontent-sjc3-1.cdninstagram.com"
				alt= altText
			)

//- Instagram post section
section.ap-c-scn.ap-c-scn--slider.ap-c-scn--instagram
	+headerTitleAndButton(
		"Instagram",
		"See More",
		iconInstagram,
		instagram.link,
		instagram.info,
		"_blank"
	)
	//- Instagram post slider
	div.ap-c-sld
		ul.ap-c-sld__list
			//- +instagramSlide(
			//- 	"BthyOfvjSp-/",
			//- 	"085f09c0b328f3734fc0df0d40232430/5D104D0A/t51.2885-15/e35/51366487_561756830972548_3466980159444428160_n.jpg",
			//- 	"Muted brown abstract painting by Grazyna Adamska Jarecka"
			//- )
			+instagramSlide(
				"BtPTl88Bocf/",
				"6d0ba87e5e11c59caa5163ae9ae8dea5/5D1B3176/t51.2885-15/e35/49858571_119467062446720_2074020139348992653_n.jpg",
				"Bright yellow abstract painting by Grazyna Adamska Jarecka"
			)
			+instagramSlide(
				"BsavBx9DATJ/",
				"dec6734c89883c4bc0220523c9d25846/5D2D2A6F/t51.2885-15/e35/49696402_380061912801758_1038389295142827393_n.jpg",
				"Figurative painting of women with pink and blue flesh by Grazyna Adamska Jarecka"
			)
			//- +instagramSlide(
			//- 	"BkUE5iNhhvG/",
			//- 	"11f9e61be09bd501f182afd6d9eb1507/5D13ACDE/t51.2885-15/e35/35459645_270228213717617_8176225393380950016_n.jpg",
			//- 	"Artist Grazyna Adamska Jarecka standing next to a collection of her abstract paintings"
			//- )
			+instagramSlide(
				"Boms4bYD3Uq/",
				"a8bb8c16852b5ac80cc8d9af9ddc3031/5D1F8F2A/t51.2885-15/e35/42002865_2247450498877881_6974174813436807156_n.jpg",
				"Abstract painting with green and blue figures by Grazyna Adamska Jarecka"
			)
			+instagramSlide(
				"BnzmJh7hYD4/",
				"30032720d20484de50d5d504be358f7a/5D15F707/t51.2885-15/e35/40784481_1483231995156201_4940538197185917189_n.jpg",
				"Artist Grazyna Adamska Jarecka standing next to a series of her landscape and forest paintings"
			)
			//- Outro link slide
			li.ap-c-sld__item.ap-c-sld__item--last
				a.ap-c-sld__link.ap-c-sld__link--instagram(
					href= instagram.link
					target="_blank"
				)
					+icon(iconInstagram)
					span.ap-c-sld__label More on Instagram
		div.ap-c-sld__edge.ap-c-sld__edge--left
		div.ap-c-sld__edge.ap-c-sld__edge--right